<div class="about">
  <div class="about-info">
    <div class="about-detail">
      <img src="./assets/img/icone-logo.png" alt="Ícone logo Vaninho Náutica">
      <p>SOBRE NÓS</p>
    </div>
    <h1 class="about-title">
      Experiência que <span>garante resultado</span> 
    </h1>
    <p class="about-desc">
      A Vaninho Náutica nasceu com o compromisso de entregar serviços de alta qualidade, com preço justo e confiança, através de um trabalho técnico especializado e mais de 20 anos de experiência prática no mercado.
    </p>
    <div class="about-check-list">
      <div class="about-check-item">
        <i class="fa-solid fa-circle-check"></i>
        <p>Técnico especializado</p>
      </div>
      <div class="about-check-item">
        <i class="fa-solid fa-circle-check"></i>
        <p>+20 anos de experiência</p>
      </div>
      <div class="about-check-item">
        <i class="fa-solid fa-circle-check"></i>
        <p>Peças de qualidade</p>
      </div>
      <div class="about-check-item">
        <i class="fa-solid fa-circle-check"></i>
        <p>Atendimento personalizado</p>
      </div>
    </div>
  </div>
  <div class="about-img-container">
    <img src="./assets/img/about-img.png" alt="Mecânico realizando manutenção em motosserra" class="about-img">
    <div class="about-img-desc">
      <h4>+1 ano</h4>
      <p>entregando qualidade</p>
    </div>
  </div>
</div>
