<div class="cta">
  <div class="cta-img-bg">
    <div class="cta-left">
      <h1 class="cta-title">Seu equipamento parou?</h1>
      <p class="cta-desc">Fale agora com nosso especialista pelo WhatsApp e solicite seu orçamento.</p>
    </div>
    <div class="cta-right">
      <button class="cta-btn">
        <i class="fa-brands fa-whatsapp"></i>
        <p>Quero um orçamento</p>
      </button>
      <img src="/assets/img/fale-whatsapp-branco.png" alt="Escrito fale agora pelo WhatsApp com uma ceta apontando para botão acima">
    </div>
  </div>
</div>