<div class="hero">
  <div class="hero-left">
    <div class="hero-detail1">
      <i class="fa-solid fa-arrow-trend-up hero-datail-content"></i>
      <p class="hero-datail-content">Desempenho garantido</p>
    </div>
    <div class="hero-info">
      <h1 class="hero-slogan">
        <!-- OUTRAS FRASES PARA TESTE
        Seu trabalho não pode parar, seu equipamento também não
        Manutenção <span class="destaque">especializada</span> para manter seus equipamentos sempre prontos
        Manutenção especializada para seu equipamento não parar -->
         Manutenção <span class="destaque">especializada para quem não</span> pode parar
      </h1>
      <p class="hero-desc">
        Atendimento rápido, serviço confiável e solução definitiva para seus equipamentos
      </p>
    </div>
    <div class="hero-datails-low">
      <div class="hero-detail">
        <i class="fa-solid fa-screwdriver-wrench hero-datail-content"></i>
        <p class="hero-datail-content">Mão de obra qualificada</p>
      </div>
      <div class="hero-detail">
        <i class="fa-solid fa-wrench hero-datail-content"></i>
        <p class="hero-datail-content">Serviço especializado</p>
      </div>
    </div>
    <div class="whatsapp">
      <a class="whatsapp-btn-hero" href="https://web.whatsapp.com">
        <i class="fa-brands fa-whatsapp icon"></i>
        <p>Quero um orçamento</p>
      </a>
      <img src="./assets/img/Fale agora pelo whatsapp 2.png" class="img-whats-mobile" alt="Fale agora pelo Whatsapp">
      <img src="./assets/img/Fale agora pelo whatsapp.png" class="img-whats" alt="Fale agora pelo Whatsapp">
    </div>
  </div>
  <div class="hero-right">
    <div class="hero-mask-svg">
      <img class="hero-img" src="./assets/img/hero-img.png" alt="Mecânico realizando manutenção em motor de barco">
    </div>
  </div>
</div>
