<div class="services">
  <div class="service-detail"> 
    <i class="fa-solid fa-screwdriver-wrench"></i>
    <p>NOSSOS SERVIÇOS</p>
  </div>
  <h1 class="service-title">
    Cuidado completo para seus equipamentos
  </h1>
  <div class="services-list">
    <div class="item-service">
      <div class="icon-box">
        <i class="fa-solid fa-ship"></i>
      </div>
      <div class="item-description">
        <h4>Manutenção em Motores de Popa</h4>
        <p>Diagnóstico e reparo completo para máximo desempenho na água</p>
      </div>
    </div>
    <div class="item-service">
      <div class="icon-box">
        <i class="fa-solid fa-tree"></i>
      </div>
      <div class="item-description">
        <h4>Manutenção em Roçadeiras e Motosserras</h4>
        <p>Corte com potência e segurança para o seu dia a dia</p>
      </div>
    </div>
    <div class="item-service">
      <div class="icon-box">
        <i class="fa-solid fa-bolt"></i>
      </div>
      <div class="item-description">
        <h4>Manutenção em Geradores</h4>
        <p>Energia confiável quando você mais precisa</p>
      </div>
    </div>
    <div class="item-service">
      <div class="icon-box">
        <i class="fa-solid fa-droplet"></i>
      </div>
      <div class="item-description">
        <h4>Manutenção em Lavadoras de Alta Pressão</h4>
        <p>Pressão e eficiência para limpeza sem esforço</p>
      </div>
    </div>
    <div class="item-service">
      <div class="icon-box">
        <i class="fa-solid fa-gears"></i>
      </div>
      <div class="item-description">
        <h4>Manutenção em Equipamentos Motorizados</h4>
        <p>Soluções completas para diversos tipos de equipamentos</p>
      </div>
    </div>
  </div>
</div>