<div class="testimonials">
  <div class="testimonials-detail">
    <img src="/assets/img/icone-logo.png" alt="icone logo Vaninho Náutica">
    <p>DEPOIMENTOS</p>
  </div>
  <h1 class="testimonials-title">
    Quem confia, recomenda!
  </h1>
  <div class="testimonials-carousel">
    <button class="testimonial-previus" id="testimonialPreviusBtn" type="button" aria-label="Depoimento anterior">
      <i class="fa-solid fa-angle-left"></i>
    </button>

    <div class="testimonials-viewport">
      <div class="testimonials-container"></div>
    </div>

    <button class="testimonial-next" id="testimonialNextBtn" type="button" aria-label="Proximo depoimento">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
  <div class="dots-dep-container"></div>
</div>
