<div class="footer">
  <div class="footer-top">
    <div class="logo-and-socials">
      <img src="./assets/img/logo.png" alt="Logo Vaninho Náutica">
      <div class="socials">
        <a href="https://www.instagram.com/vaninhonautica?igsh=bncyeXdiMXN6ZjIy" class="insta-link">
          <i class="fa-brands fa-instagram icon-footer-insta"></i>
        </a>
        <a href="https://www.facebook.com" class="face-link">
          <i class="fa-brands fa-facebook icon-footer-face"></i>
        </a>
        <a href="https://www.whatsapp.com" class="whats-link">
          <i class="fa-brands fa-whatsapp icon-footer-whats"></i>
        </a>
      </div>
    </div>
    <div class="info">
      <div class="footer-top-info">
        <div class="nav-footer">
          <h4>NAVEGAÇÃO</h4>
          <div class="footer-links">
            <a href="#hero">
              Inicio
            </a>
            <a href="#services">
              Serviços
            </a>
            <a href="#about">
              Projetos
            </a>
            <a href="#gallery">
              Sobre nós
            </a>
            <a href="#testimonials">
              Contato
            </a>
          </div>
        </div>
        <div class="services-footer">
          <h4>SERVIÇOS</h4>
          <div class="footer-links">
            <a href="./">
              Motores de Popa
            </a>
            <a href="./">
              Roçadeiras e Motosserras
            </a>
            <a href="./">
              Geradores
            </a>
            <a href="./">
              Lavadoras de Alta Pressão
            </a>
            <a href="./">
              Equipamentos Motorizados
            </a>
          </div>
        </div>
      </div>
      <div class="contact-footer">
        <h4>FALE CONOSCO</h4>
        <div class="contact-links">
          <div class="links-left">
            <a href="./">
              <i class="fa-brands fa-whatsapp"></i>
              <p>(37) 99999-9999</p>
            </a>
            <a href="./">
              <i class="fa-regular fa-envelope"></i>
              <p>oficina@email.com</p>
            </a>
          </div>
          <a href="./">
            <i class="fa-solid fa-location-dot"></i>
            <p>Cidade - MG</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="copy-info">
      <div class="copy-text">
        <i class="fa-regular fa-copyright"></i>
        <p>2025 Vaninho Náutica.</p><br>
      </div>
      <p>Todos os direitos reservados.</p>
    </div>
    <p>
      Experiência que garante resultado.
    </p>
  </div>
</div>
