<header class="header">
  <div class="header-top">
    <div class="header-logo">
      <a href="./">
        <img src="./assets/img/logo.png" alt="Logo da empresa">
      </a>
    </div>  
  
    <div class="nav">
      <a href="#hero">Inicio</a>
      <a href="#services">Serviços</a>
      <a href="#about">Sobre</a>
      <a href="#gallery">Serviços Realizados</a>
      <a href="#testimonials">Opiniões</a>
    </div>
    
    <a class="whatsapp-btn" href="https://web.whatsapp.com">
      <i class="fa-brands fa-whatsapp icon"></i>
      <p>Falar no WhatsApp</p>
    </a>
    
    <button id="menu-open-btn">
      <i class="fa-solid fa-bars bars-icon" ></i>
    </button>
  </div>
  
  

  <div class="overlay" id="overlay"></div>
  <div class="nav-menu" id="nav-menu">
    <div class="nav-logo">
      <img src="./assets/img/logo.png" alt="Logo da empresa">
      <button class="close-menu-btn" id="menu-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="list">
      <a href="#hero" class="nav-item">
        <div class="nav-icon-container">
          <i class="fa-solid fa-house icon-nav"></i>
          <p class="list-text-nav">Inicio</p>
        </div>
        <i class="fa-solid fa-chevron-right arrow-nav"></i>
      </a>
      <a href="#services" class="nav-item">
        <div class="nav-icon-container">
          <i class="fa-solid fa-wrench icon-nav"></i>
          <p class="list-text-nav">Serviços</p>
        </div>
        <i class="fa-solid fa-chevron-right arrow-nav"></i>
      </a>
      <a href="#about" class="nav-item">
        <div class="nav-icon-container">
          <i class="fa-solid fa-user icon-nav"></i>
          <p class="list-text-nav">Sobre</p>
        </div>
        <i class="fa-solid fa-chevron-right arrow-nav"></i>
      </a>
      <a href="#gallery" class="nav-item">
        <div class="nav-icon-container">
          <i class="fa-solid fa-screwdriver-wrench icon-nav"></i>
          <p class="list-text-nav">Serviços Realizados</p>
        </div>
        <i class="fa-solid fa-chevron-right arrow-nav"></i>
      </a>
      <a href="#testimonials" class="nav-item">
        <div class="nav-icon-container">
          <i class="fa-solid fa-star icon-nav"></i>
          <p class="list-text-nav">Opiniões</p>
        </div>
        <i class="fa-solid fa-chevron-right arrow-nav"></i>
      </a>
    </div>
    <a class="whatsapp-btn-nav" href="https://web.whatsapp.com">
      <i class="fa-brands fa-whatsapp icon"></i>
      <p>Falar no WhatsApp</p>
    </a>
    <div class="nav-info">
      <div class="nav-content-info">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <div class="nav-content-right">
          <h4>Desempenho garantido</h4>
          <p>Mais potência, economia e segurança para sua navegação</p>
        </div>
      </div>
      <div class="nav-social-info">
        <a href="https://www.instagram.com/vaninhonautica?igsh=bncyeXdiMXN6ZjIy" class="nav-link-info">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" class="nav-link-info">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.whatsapp.com" class="nav-link-info">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</header>
