@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* FONTE */
  --font-principal: "Poppins", sans-serif;

  /* CORES BACKGROUND */
  --fundo-principal: #ffffff;
  --fundo-secundario: #D3D3D3;
  --fundo-secundario2: #ebeaea;
  --fundo-secundario3: #F5F5F5;
  /* CORES FONTES */
  --texto-principal-claro: #F7F7F7;
  --texto-principal-escuro: #111111;
  --texto-secundario: #2A2A2A;

  /* OUTRAS CORES */
  --verde-whats: #2C9523;
  --cor1-empresa: #FA6028;
  --cor2-empresa: #030214;
}